@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "welcome-header.css";


body{
    font-family: 'Andika', sans-serif;
}

#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
#login-form>input{
    margin: 5px;
    width: 100%;
    padding: 5px;
}
