.chat-screen{
    background-color: #abc1d1;
    /* height: 1100vh; */
}
.chat-screen .status-bar{
    z-index: 2;
    background-color: #abc1d1;

}
.chat-screen .alt-header{
    position: fixed;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
    z-index: 1;
}
.main-screen-chat{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
}
.chat-timestamp{
    color: white;
    background-color: #92a4b2;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 25px;
}
.message-row{
    width: 100%;
    display: flex;
}
.message-row img{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 25px;
}
.message_info{
    display: flex;
    align-items: flex-end;

}
.message_author{
    margin-bottom: 5px;
    display: block;

}
.message_bubble{
    background-color: white;
    padding: 12px;
    border-radius: 13px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message_time,
.message_author{
    opacity: 0.7;
    font-size: 13px;
}
.message-row-own{
    justify-content: flex-end;
}
.message-row-own .message_bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0;
    margin-left: 5px;
}
.message-row-own .message_time{
    order: 0;
}
.message-row-own .message_bubble{
    order: 1;
}
/* same as order */
/* .message-row-own .message_info{
    flex-direction: row-reverse;
} */
.reply{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
}
.reply .reply_column:first-child{
    width: 10%;
}
.reply .reply_column:last-child{
    /* position: relative; */
    width: 90%;
    display: flex;
    align-items: center;
    border:var(--main-border);
    border-radius: 30px;
}
.reply .reply_column:last-child button{
    background-color: var(--yellow);
    border-radius: 30px;
    height: 30px;
    width:30px;
    margin-left: 10px;
    color: black;
    border: none;
}

.reply input{
    height: 30px;
    width: 90%;
    border-radius: 30px;
    border: none;
}

.reply i{
    opacity: 0.6;
    font-size: px;
}