.find-icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.find-icons i{
    font-size: 35px;
    margin-bottom: 15px;
}
.find-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recommended-friends{
    padding: 25px 0px;
    border-top: var(--main-border);
    /* border-bottom: var(--main-border); */
}
.recommended-friends span{
    color: var(--color-thin-gray);
    margin: 110px 0px;
    display: block;
    text-align: center;
    font-size: 18px;
}
.recommended-friends_title{
    color: var(--color-thin-gray);
    font-size: 15px;
}
