#friends-display-link{
    /* text-align:center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf4f4;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 10px;
}

#friends-display-link i{
    margin: 7px;
    opacity: 0.5;
}