.badge{
    border-radius: 15px;
    background-color: tomato;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 550;
}
.mini_badge{
    display: flex;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: tomato;
}