.badge{
    border-radius: 15px;
    background-color: tomato;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 550;
}
.mini_badge{
    display: flex;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: tomato;
}
.bang-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 10px;
    height: 10px;
    color: red;
    border: 1px solid red;
    border-radius: 100%;
    padding: 3px;
    font-size: 14px;
    bottom: -2px;
    left: 145px;
    
}