.screen-header{
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
}

.screen-header_title{
    font-size: 35px;
    margin-bottom: 5px;
    font-weight:600;
}

.screen-header_icons span{
    position: relative;
    margin-left: 30px;
}
.screen-header_icons-option-notify{
    position: absolute;
    left: 73px;
    bottom: 23px;
}
.screen-header_icons-option-notify2{
    position: absolute;
    left: 128px;
    bottom: 23px;
}

@keyframes rotateCog{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}
.screen-header_icons .fa-gear:hover {
    animation: rotateCog 2s linear infinite;
}